.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 45% 5% 25%;
  margin: 5% 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    margin: 5% auto;
    display: grid;
    grid-template-columns: 30% 40% 5% 25%;

  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 5% auto;
    grid-template-columns: 17% 53% 5% 25%;

  }
}
