.button-edit{
    width: 20px;
    height: 20px;
    background-image: url(../../images/Edit-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid white; 
    outline: none;
    cursor: pointer;
    margin: 70% 0 auto auto;

}

.button-edit:hover{
    opacity: 50%;
}
/*
@media screen and (min-width: 768px) and (max-width: 1280px){
    .button-edit{
        width: 0%;
        height: 20%;
        margin: 40% auto;

    }
}

@media screen and (max-width: 768px){
    .button-edit{
        width: 40%;
        height: 20%;
        margin: 40% auto;

    }
}*/