.button-place{
    width: 50%;
    height: 40%;
    background-image: url(../../images/add-button+.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid white;
    margin: auto 0 auto auto;
    outline: none;
    cursor: pointer;
}
.button-place:hover{
    opacity: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .button-place{
        
       margin: 10% auto;
        
    }
}

@media screen and (max-width: 768px){
    .button-place{
       margin: 10% auto;
        
    }
}