
.profile__avatar {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.profile__avatar:hover {
   filter: brightness(0.25);
}



.profile__avatar:hover + .profile__avatar-edit{
    opacity: 0.5;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__avatar {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    width: 90%;
  }
}
