
.profile__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile__avatar:hover {
   filter: brightness(0.25);
}



.profile__avatar:hover + .profile__avatar-edit{
    opacity: 0.5;
}


